.header {
    background-image: url(media/images/flower.jpg);
}

/**/
.content {
    padding: 50 100;
    text-align: center;
}

.sp-note {
    padding: 50 400;
    text-align: justify;
    
}

button a:visited, a:link {
    color: orangered;
    text-decoration: none;
}